<h2 style="margin-bottom: 0px">
   Transaction pool
</h2>
<h4 style="font-size: 12px; margin-top: 0px">(no of txs: <span id="mempool-size">{{mempool_size}}</span>,
    size: <span id="mempool-size-kb">{{mempool_size_kB}}</span> kB)</h4>
<div class="center">

      <table class="center mempool">
            <tr>
                <th class="age">age [h:m:s]</th>
                <th class="hash">transaction hash</th>
                <th class="fee">fee/per_kB</th>
                <th class="inout">in/out/pID</th>
                <th class="mixin">ring size</th>
                <th class="size">tx size [kB]</th>
            </tr>
            {{#mempooltxs}}
            <tr class="tx-row">
                <td class="age">{{age}}</td>
                <td class="hash"><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td class="fee">{{fee}}/{{payed_for_kB}}</td>
                <td class="inout">{{no_inputs}}/{{no_outputs}}/{{pID}}</td>
                <td class="mixin">{{mixin}}</td>
                <td class="size">{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>

      <div id="see_all_mempool" class="center" style="text-align: center; margin-bottom: 10px{{#mempool_fits_on_front_page}}; display: none{{/mempool_fits_on_front_page}}{{^partial_mempool_shown}}; display: none{{/partial_mempool_shown}}">
          <a href="/txpool">Only 25 txs shown. Click here to see all of them</a>
      </div>
      
</div>
